<style>
  @import url('https://fonts.googleapis.com/css2?family=Caprasimo&display=swap');
</style>

.seccion_principal{
    background-image: url(./imagen_central.jpeg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height: 100vh; /* vh es % de la altura de la ventana gráfica */
    padding: 0px 200px;
    /* width: 100%; */
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40px;
    text-align: center;
    color:white
}

.fondo_rosado{
    background-color: pink;
}

.texto_fondo_rosado{
    font-family: 'Caprasimo', cursive;
}

body{
    background-color: rgb(255, 255, 255);
    padding: 0px;
    margin: 0px;
}

.card_parte1 .card img{
    width: 200px;
}  

#carousel_1{
    background-image: url(./fondo_carousel.png);
    background-repeat: no-repeat;
}

.carousel-item img{
    margin: 0px auto;
}

.seccion_central{
    background-color: white;
    padding: 1em;
    text-align: center;
    font-family: 'albramedium';
    margin: 2em 0;
    line-height: 0;
}

.seccion_central:before {
    content: " ";
    display: block;
    border-top: 1px solid #e3e3e3;
    border-bottom: 1px solid #f7f7f7;
}
.seccion_central span {
    background-color: white;
}

.w-25 {
    width: 25%!important;
}
